flows (1).json
[{"id":"644241a7.bde88","type":"tab","label":"IoT project","disabled":false,"info":""},{"id":"95d923c6.30d43","type":"ibmiot in","z":"644241a7.bde88","authentication":"apiKey","apiKey":"31f52016.25558","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Sensor","applicationId":"","deviceType":"Sensor_data","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":160,"wires":[["8ae61e74.c5893","3bafa870.eed9a8","f2014723.903288"]]},{"id":"e293dc09.5d27b","type":"function","z":"644241a7.bde88","name":"Globally set the variables","func":"global.set(\"Outside_temp\",msg.payload.d.temperature)\nglobal.set(\"Humidity\",msg.payload.d.humidity)\nglobal.set(\"Warehouse_temp\",msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":100,"wires":[["325e5de0.7ba972"]]},{"id":"713682fd.d5d4ac","type":"cloudant out","z":"644241a7.bde88","name":"","cloudant":"","database":"sensor_data","service":"node-red-jecca-cloudant-1591687694923-2210","payonly":false,"operation":"insert","x":590,"y":160,"wires":[]},{"id":"5a99da4b.200054","type":"function","z":"644241a7.bde88","name":"","func":" msg.payload = {\n    _id:msg.payload.d.temperature,\n    Outside_temp : msg.payload.d.temperature,\n    Humidity : msg.payload.d.humidity ,\n    Warehouse_temp : msg.payload.d.objectTemp,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["713682fd.d5d4ac"]]},{"id":"325e5de0.7ba972","type":"debug","z":"644241a7.bde88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":100,"wires":[]},{"id":"a874c17a.7fc46","type":"function","z":"644241a7.bde88","name":"warehouse temp","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["feee1551.c33778"]]},{"id":"3a03437a.4b37bc","type":"function","z":"644241a7.bde88","name":"Build Mail","func":"msg = {\n    payload : \"Temperature is too high, cooling process started.\" + Date().toString(),\n    topic : \"Warehouse Temperature\",\n};\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":320,"wires":[["92f71a53.fd6328"]]},{"id":"feee1551.c33778","type":"switch","z":"644241a7.bde88","name":"Comparing Warehouse temperature","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"35","vt":"num","v2":"60","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":220,"wires":[["3a03437a.4b37bc"]]},{"id":"92f71a53.fd6328","type":"e-mail","z":"644241a7.bde88","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"aditi.tarate@cumminscollege.in","dname":"","x":850,"y":380,"wires":[]},{"id":"8ae61e74.c5893","type":"delay","z":"644241a7.bde88","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"4","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":200,"wires":[["a874c17a.7fc46"]]},{"id":"3bafa870.eed9a8","type":"delay","z":"644241a7.bde88","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"4","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":160,"wires":[["5a99da4b.200054"]]},{"id":"f2014723.903288","type":"delay","z":"644241a7.bde88","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"4","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":120,"wires":[["e293dc09.5d27b"]]},{"id":"2aab5dad.4219d2","type":"openweathermap in","z":"644241a7.bde88","name":"","wtype":"current","lon":"","lat":"","city":"Pune","country":"India","language":"en","x":80,"y":280,"wires":[["9bd9babd.4ed5a8","82f720b0.6e255"]]},{"id":"82f720b0.6e255","type":"debug","z":"644241a7.bde88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":260,"wires":[]},{"id":"b7452a46.31f2a8","type":"switch","z":"644241a7.bde88","name":"Analyzing weather conditions","property":"payload.detail","propertyType":"msg","rules":[{"t":"cont","v":"heavy rainfall","vt":"str"},{"t":"cont","v":"heavy rain","vt":"str"},{"t":"cont","v":"light rain","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":400,"wires":[["1dd6aef5.b9b741"],["128a59b2.6ad366"],["4c111edd.4cbeb"]]},{"id":"9bd9babd.4ed5a8","type":"delay","z":"644241a7.bde88","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"4","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":280,"y":300,"wires":[["b7452a46.31f2a8"]]},{"id":"1dd6aef5.b9b741","type":"function","z":"644241a7.bde88","name":"Build Mail","func":"msg = {\n    payload : \"Heavy rains predicted, that might disrupt the activities\" + Date().toString(),\n    topic : \"Bad Weather\",\n};\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":360,"wires":[["92f71a53.fd6328"]]},{"id":"128a59b2.6ad366","type":"function","z":"644241a7.bde88","name":"Build Mail","func":"msg = {\n    payload : \"Heavy rains predicted, that might disrupt the activities\" + Date().toString(),\n    topic : \"Bad Weather\",\n};\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":400,"wires":[["92f71a53.fd6328"]]},{"id":"4c111edd.4cbeb","type":"function","z":"644241a7.bde88","name":"Build Mail","func":"msg = {\n    payload : \"Overcast clouds, might disrupt the activities.\" + Date().toString(),\n    topic : \"Weather warning\",\n};\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":440,"wires":[["92f71a53.fd6328"]]},{"id":"31f52016.25558","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"wqlv9j.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]